body {
	background-color: #2d3138;
}

.vertical-center {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.splash_content {
	background: #fff;
}

.logo {
	margin: 30px auto;
}

/*********************
 * Navigation
**********************/

.siteNavigation {
	background-color: #000;
}

.navItem {
	padding-right: 0;
	padding-left: 0;
}

.navBtn {
	position: relative;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}

.navBtn span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 6px;
	background-color: #3c7b8e;
	z-index: -1;
	-webkit-transition: height 150ms ease-in-out;
	-moz-transition: height 150ms ease-in-out;
	-ms-transition: height 150ms ease-in-out;
	-o-transition: height 150ms ease-in-out;
	transition: height 150ms ease-in-out;
}

.navBtn:hover {
	color: #FFF;
	text-decoration: none;
}

.navBtn:hover span {
	height: 60px;
}

.navBtn_orange span {
	background-color: #ad823e;
}

.navBtn_orange:hover {
	color: #000;
}

/*********************
 * Footer
**********************/

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 12px;
	overflow: hidden;
}