<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{#page_title}}
		<title>{{site_title}} &raquo; {{page_title}}</title>
		{{/page_title}}
		{{^page_title}}
		<title>{{site_title}}</title>
		{{/page_title}}
		<link rel="stylesheet" href="{{dir.views}}/_global/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		{{#css}}<link rel="stylesheet" href="{{dir.view}}/{{url}}">{{/css}}
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="{{dir.views}}/_global/js/bootstrap.min.js"></script>
		<script src="{{dir.views}}/_global/js/functions.js"></script>
	</head>
	<body>