<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{config.site.title}} &raquo; {{page_title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{dir.views}}/global/css/style.css">
		{{#css}}<link rel="stylesheet" href="{{dir.view}}/{{url}}">{{/css}}
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		{{#js}}<script src="{{dir.view}}/{{url}}" {{#async}}async=""{{/async}}></script>{{/js}}
	</head>
	<body>