body {
	background-color: #3c7b8e;
}

.navbar {
	font-size: 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	opacity: 0.8;
}

.panel {
	overflow: hidden;
	width: 100%;
	padding-bottom: 56.4%;
}

.portfolio_img {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 42px;
	left: 15px;
	right: 15px;
	bottom: 0;
}

.portfolio_img > img {
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}